<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="category.css">
</head>
<body>
    <div class="category">
        <h3>Browse events by category</h3>
        <div class="row">
            <a href="#" class="item">
                <img src="category-2.jfif" alt="">
                <p>Outdoors & Adventure</p>
            </a>
            <a href="#" class="item">
                <img src="category-3.jfif" alt="">
                <p>Teach</p>
            </a>
            <a href="#" class="item">
                <img src="category-4.jfif" alt="">
                <p>Family</p>
            </a>
        </div>
        <div class="row">
            <a href="#" class="item">
                <img src="category-5.jfif" alt="">
                <p>Health & Wellness</p>
            </a>
            <a href="#" class="item">
                <img src="category-6.jfif" alt="">
                <p>Sports & Fitness</p>
            </a>
            <a href="#" class="item">
                <img src="category-2.jfif" alt="">
                <p>Learning</p>
            </a>
        </div>
        <div class="row">
            <a href="#" class="item">
                <img src="category-2.jfif" alt="">
                <p>Photography</p>
            </a>
            <a href="#" class="item">
                <img src="category-5.jfif" alt="">
                <p>Food & Drink</p>
            </a>
            <a href="#" class="item">
                <img src="category-3.jfif" alt="">
                <p>Writting</p>
            </a>
        </div>
            

    </div>
</body>
</html>