<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="search.css">
    
</head>
<body>
    <div class="search">
        <div class="input">
            <input type="text" class="even" placeholder="Find your next event">
            <i class="fa fa-search even-icon"></i>
            <input type="text" class="search-location" autocomplete="off" aria-autocomplete="both" value="Ha Noi, VN">
            <i class="fa fa-map-marker lo-icon"></i>
        </div>
        
        <button class="btn-search">Search</button>
    </div>
    <i class="fa fa-map-marker-alt "></i>
</body>
</html>