*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-size: "liga","kern",'Graphik Meetup',"BlinkMacSystemFont","Roboto",Helvetica,Arial,sans-serif;
}
.sologon{
    padding: 0 20px;
    display: flex;
}
.sologon .text-left{
    flex-basis: 450px;
}
.sologon h1{
    font-size: 56px;
    line-height: 1.1;
    font-weight: bold;
    padding-top: 32px;
    margin-bottom: 40px;
}
.sologon a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    padding: 16px 56px;
    background-color: #f65858;
    border-radius: 5px;
}
.sologon a:hover{
    opacity: 0.8;
}
.sologon .image{
    flex-basis: 70%;
    background: url("img1.png") center/contain no-repeat;
}